TrafficCount.Presentation/Service References/TCInsert/TCInsert1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TCInsert" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/TCWS/TCInsert.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/TCWS/TCInsert.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITCInsert_DelTCbySiteID_InputMessage">
    <wsdl:part name="parameters" element="tns:DelTCbySiteID" />
  </wsdl:message>
  <wsdl:message name="ITCInsert_DelTCbySiteID_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelTCbySiteIDResponse" />
  </wsdl:message>
  <wsdl:message name="ITCInsert_InsertTCAxlesDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTCAxlesDetails" />
  </wsdl:message>
  <wsdl:message name="ITCInsert_InsertTCAxlesDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTCAxlesDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ITCInsert_InsertTCSpeedDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTCSpeedDetails" />
  </wsdl:message>
  <wsdl:message name="ITCInsert_InsertTCSpeedDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTCSpeedDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ITCInsert_InsertTCAxlesSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTCAxlesSummary" />
  </wsdl:message>
  <wsdl:message name="ITCInsert_InsertTCAxlesSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTCAxlesSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="ITCInsert_InsertTCSpeedSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTCSpeedSummary" />
  </wsdl:message>
  <wsdl:message name="ITCInsert_InsertTCSpeedSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTCSpeedSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="ITCInsert_InsertTCSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTCSummary" />
  </wsdl:message>
  <wsdl:message name="ITCInsert_InsertTCSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTCSummaryResponse" />
  </wsdl:message>
  <wsdl:portType name="ITCInsert">
    <wsdl:operation name="DelTCbySiteID">
      <wsdl:input wsaw:Action="http://tempuri.org/ITCInsert/DelTCbySiteID" message="tns:ITCInsert_DelTCbySiteID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITCInsert/DelTCbySiteIDResponse" message="tns:ITCInsert_DelTCbySiteID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTCAxlesDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ITCInsert/InsertTCAxlesDetails" message="tns:ITCInsert_InsertTCAxlesDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITCInsert/InsertTCAxlesDetailsResponse" message="tns:ITCInsert_InsertTCAxlesDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTCSpeedDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ITCInsert/InsertTCSpeedDetails" message="tns:ITCInsert_InsertTCSpeedDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITCInsert/InsertTCSpeedDetailsResponse" message="tns:ITCInsert_InsertTCSpeedDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTCAxlesSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/ITCInsert/InsertTCAxlesSummary" message="tns:ITCInsert_InsertTCAxlesSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITCInsert/InsertTCAxlesSummaryResponse" message="tns:ITCInsert_InsertTCAxlesSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTCSpeedSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/ITCInsert/InsertTCSpeedSummary" message="tns:ITCInsert_InsertTCSpeedSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITCInsert/InsertTCSpeedSummaryResponse" message="tns:ITCInsert_InsertTCSpeedSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTCSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/ITCInsert/InsertTCSummary" message="tns:ITCInsert_InsertTCSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITCInsert/InsertTCSummaryResponse" message="tns:ITCInsert_InsertTCSummary_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITCInsert" type="tns:ITCInsert">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DelTCbySiteID">
      <soap:operation soapAction="http://tempuri.org/ITCInsert/DelTCbySiteID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTCAxlesDetails">
      <soap:operation soapAction="http://tempuri.org/ITCInsert/InsertTCAxlesDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTCSpeedDetails">
      <soap:operation soapAction="http://tempuri.org/ITCInsert/InsertTCSpeedDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTCAxlesSummary">
      <soap:operation soapAction="http://tempuri.org/ITCInsert/InsertTCAxlesSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTCSpeedSummary">
      <soap:operation soapAction="http://tempuri.org/ITCInsert/InsertTCSpeedSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTCSummary">
      <soap:operation soapAction="http://tempuri.org/ITCInsert/InsertTCSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TCInsert">
    <wsdl:port name="BasicHttpBinding_ITCInsert" binding="tns:BasicHttpBinding_ITCInsert">
      <soap:address location="http://localhost/TCWS/TCInsert.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>