TrafficCount.Presentation/Service References/TCService/TCSummary43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TCWS/TCSummary.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/TCWS/TCSummary.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TrafficCount.Domain" />
  <xs:element name="GetUserNameByLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserNameByLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUserNameByLoginResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTCAxlesDetailsBySite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateCaptured" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTCAxlesDetailsBySiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TrafficCount.Domain" minOccurs="0" name="GetTCAxlesDetailsBySiteResult" nillable="true" type="q2:ArrayOfspTCAxlesDetails_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTCSpeedDetailsBySite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateCaptured" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTCSpeedDetailsBySiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TrafficCount.Domain" minOccurs="0" name="GetTCSpeedDetailsBySiteResult" nillable="true" type="q3:ArrayOfspTCSpeedDetails_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTCSummaryByLoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Road1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Road2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Dir" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTCSummaryByLocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TrafficCount.Domain" minOccurs="0" name="GetTCSummaryByLocResult" nillable="true" type="q4:ArrayOfspTCSummaryByLoc_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTCSummaryBySite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTCSummaryBySiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TrafficCount.Domain" minOccurs="0" name="GetTCSummaryBySiteResult" nillable="true" type="q5:ArrayOfspTCSummaryBySite_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTCSummaryOneBySite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTCSummaryOneBySiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TrafficCount.Domain" minOccurs="0" name="GetTCSummaryOneBySiteResult" nillable="true" type="q6:ArrayOfspTCSummaryOneBySite_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTCAxlesSummaryBySite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTCAxlesSummaryBySiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TrafficCount.Domain" minOccurs="0" name="GetTCAxlesSummaryBySiteResult" nillable="true" type="q7:ArrayOfspTCAxlesSummaryBySite_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTCSpeedSummaryBySite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTCSpeedSummaryBySiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TrafficCount.Domain" minOccurs="0" name="GetTCSpeedSummaryBySiteResult" nillable="true" type="q8:ArrayOfspTCSpeedSummaryBySite_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoad1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoadName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoad1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRoad1Result" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoad2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoadName1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RoadName2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoad2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRoad2Result" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSiteIDResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXY">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secondName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dir" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXYResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetXYResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXYBySite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXYBySiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetXYBySiteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>